.header {
  display: flex;
  align-items: center;
  padding: 0 calc-percent(110px, 1600px);
  min-height: 10vh;
  flex-wrap: wrap;
  @include media-query(0, 760px){
    flex-direction: column;
    margin-top: 1em;
  }
  &__name {
    @include canon(48px, $white);
    text-decoration: none;
    transition: color .2s ease-in-out;
    @include media-query(0, 365px) {
      @include canon(30px, $white);
    }
    &:hover, &:focus {
      color: $green;
    }
  }
}