// Settings
@import "settings/variables";
@import "settings/colors";
@import "settings/fonts";
@import "settings/breakpoints";

// Functions & mixins
@import "functions/calculation-helpers-rem-pc";
@import "functions/screen-reader";
@import "functions/clearfix";
@import "functions/font-mixins";
@import "functions/width";
@import "functions/margin-auto";
@import "functions/pseudo";
@import "functions/media-queries";
@import "functions/btn-reset";

// Generic
@import "generic/reset";
@import "generic/box-sizing";

// Elements or base
@import "elements/base";
@import "elements/fonts";

// Components
@import "components/skip-main";
@import "components/header";
@import "components/global";
@import "components/landing";
@import "components/about";
@import "components/front-projets";
@import "components/cta";
@import "components/footer";
@import "components/contact-form";
@import "components/projects-page";
@import "components/project";
@import "components/canvas";
@import "components/pagination";
@import "components/conditions";
