body {
  background: linear-gradient(180deg, $background-top 0%, $background-bottom 100%);
  min-height: 100vh;
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sro {
  @include sr-only;
}

* {
  color: $white;
}